{
  "env": {
    "node": true,
    "shared-node-browser": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 9
  },
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "semi": ["error", "never",  { "beforeStatementContinuationChars": "always"} ]
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "extends": [
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
      ],
      "parser": "@typescript-eslint/parser",
      "plugins": [
        "react",
        "@typescript-eslint"
      ],
      "parserOptions": {
        "project": "./tsconfig.json",
        "jsx": true
      },
      "settings": {
        "react": {
          "pragma": "React",
          "version": "detect"
        }
      }
    }
  ]
}
