{
  "env": {
    "node": true,
    "shared-node-browser": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 9
  },
  "extends": [
    "eslint:recommended"
  ],
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "plugins": ["@typescript-eslint"],
      "parserOptions": {
        "project": "./tsconfig.json"
      },
      "parser": "@typescript-eslint/parser",
      "extends": [
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
      ]
    }
  ],
  "rules": {
    "semi": ["error", "never",  { "beforeStatementContinuationChars": "always"} ]
  }
}
