{
  "env": {
    "node": true,
    "shared-node-browser": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "semi": ["error", "never",  { "beforeStatementContinuationChars": "always"} ]
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "extends": [
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking",
        "plugin:react/recommended"
      ],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "project": "./tsconfig.json",
        "jsx": true
      },
      "settings": {
        "react": {
          "pragma": "React",
          "version": "detect"
        }
      },
      "rules": {
        "react/prop-types": "off",
        "@typescript-eslint/no-empty-function": "off"
      }
    }
  ]
}
